<mat-card class="main-card">
    <div *ngIf="questions.length > 0" class="row">
        <mat-card-header>
                <span class="card-title"> {{ getCurrentQuestion().question }} </span>
        </mat-card-header>
        <div class="card-action">
            <ul class="collection-answer">
                <button mat-flat-button color="primary" *ngFor="let answer of answers" class="collection-item" (click)="onClick(answer)">
                    {{answer}}
                </button>
            </ul>
        </div>
    </div>
</mat-card>
