.container {
    margin: auto auto;
    margin-top: 150px;
    width: 100%;
    max-width: 400px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.select-category, .select-difficulty {
    display: flex;
    flex-direction: column;
    width: 100%;

}
