<mat-card class="container">
  <mat-card-header>
    <mat-card-title>Quizz menu</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="flex-container">
      <div class="select-category">
        <h4>Select Category</h4>
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select [(ngModel)]='selectedCategory'>
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="select-difficulty">
        <h4>Select Difficulty</h4>
        <mat-form-field appearance="fill">
          <mat-label>Difficulty</mat-label>
          <mat-select [(ngModel)]='selectedDifficulty'>
            <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.value">
              {{difficulty.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <section>
        <div class="example-button-row">
          <button type="submit" mat-raised-button color="primary" (click)="sendInfo()">Start Quiz</button>
        </div>
      </section>
    </div>
  </mat-card-content>
</mat-card>